<html>
<title>Cerca Riccardo </title>
<style type="text/css">
      html, body, table { height: 100%; margin: 0; padding: 0;}
      #map-canvas {background: yelllow; width: 100%; height: 100%; margin: 0; padding: 0;}
    </style>
    <script type='text/javascript' src='cercaRiccardo.js'></script>
    <script type='text/javascript' src='jquery.js'></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbxph7RqctyHaWeTVJRyAgPz_UQOYKW_Y">
    </script>
    <script type="text/javascript">
      var app = {};
      var intervallo ;

this.getData = function (urlAjax) {
         app.allData = null;
      	$.ajax({
      	   url:urlAjax,
            async:false,
            success:function (data) {
               // prompt("Errore", data);
         		// alert (data)
         		app.allData = $.parseJSON(data);
         	},
         	error:function(xhr, status, error) {
               var err = eval("(" + xhr.responseText + ")");
               alert(err.Message);
            }
         });
}

this.aggiornaPosizione = function(){
      if (app.path != null)
         app.path.setMap(null);
      getData("../Server/getJson.php");
      plotMap()
}

this.initialize = function () {
      aggiornaPosizione();
      intervallo = window.setInterval('aggiornaPosizione()', 30000);
}

this.plotMap = function () {

      var flightPlanCoordinates = []

      app.velocita = 0;
      app.distanza = 0;
      app.tempo = 0;
      if (app.allData != null)
         for (var i = 0; i < app.allData.tracce.length; i++){
             app.velocita = app.allData.tracce[i].velocita;
             if (i > 0){
               app.distanza += calcolaDistanza(app.allData.tracce[i].latitudine, app.allData.tracce[i-1].longitudine,app.allData.tracce[i-1].latitudine, app.allData.tracce[i].longitudine, "k")
               app.tempo += calcolaSecondi(app.allData.tracce[i].ora) - calcolaSecondi(app.allData.tracce[i-1].ora)
             }
             flightPlanCoordinates.push(new google.maps.LatLng(app.allData.tracce[i].latitudine, app.allData.tracce[i].longitudine));
         }

      var myMsg = "Velocit&agrave;: <b>"+(app.velocita) + " km/h</b>";
      myMsg += " - Distanza: <b>"+ floor(app.distanza, 2) + " km</b>";
      myMsg += " - Tempo: <b>"+ calcolaTempo(app.tempo) + " </b>";

      $('#speedDiv').html(myMsg)

      if (flightPlanCoordinates.length)
         centerPoint = flightPlanCoordinates[(flightPlanCoordinates.length-1)];
      else
         centerPoint = new google.maps.LatLng(45.355652,9.691252);

      if (app.map == null)
         app.map = new google.maps.Map($('#map-canvas')[0])

      app.map.setOptions({
            center: centerPoint,
            zoom: 16
         });

      if (app.path == null)
         app.path = new google.maps.Polyline({
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                     });
                     
       app.path.setPath(flightPlanCoordinates);
       app.path.setMap(app.map);

       if (app.beachMarker == null)
         app.beachMarker = new google.maps.Marker({
                        map: app.map,
                        icon: 'bici.png'
                     });

      app.beachMarker.setPosition(centerPoint);
}

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
<table align="left" border="0" width="100%">
  <tr style="height:40px">
      <td align="center" style="background-color: #A0A0A0;">
         <div id="speedDiv" >
         </div>
      </td>
  </tr>
  <tr>
   <td>
   <div id="map-canvas"></div>
   </td>
  </tr>
</table>
  </body>
</html>